<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Resume Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>

<body>
<div th:insert="navbar :: copy"></div>
<div class="container" style="color:darkcyan;font-family: monospace;">
    <hr>

    <div class="row justify-content-md-center" style="color:gray;font-family: monospace;">
        <h2>Update resume</h2>
    </div>

    <form action="#" th:action="@{/resumes}" th:object="${currentResume}"
          method="POST">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{user}" class="form-control mb-4 col-4">
        <div style="color: brown" th:if="${#fields.hasErrors('user')}" th:errors="*{user}">User error</div>

        <input type="text" th:field="*{location}" class="form-control mb-4 col-4">
        <div style="color: brown" th:if="${#fields.hasErrors('location')}" th:errors="*{location}">Location error</div>

        <input type="text" th:field="*{experience}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{contacts}" class="form-control mb-4 col-4">
        <div style="color: brown" th:if="${#fields.hasErrors('contacts')}" th:errors="*{contacts}">Contacts error</div>

        <button type="submit" class="btn btn-info col-2"> Update</button>
    </form>

    <hr>

    <a th:href="@{/resumes}" class="btn btn-info col-5"> Back to Employee List</a>
</div>
</body>
</html>